body {
    margin-top: 20px;    
}

#header {
    background-color: midnightblue;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    margin-bottom: 20px;
}

#title {
    background-color: lightgray;
    font-weight: bold;
}